<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="display: flex;">
        
        <a class="navbar-brand" href="/"><h3> Home </h3></a> 

    </nav>

    <br>
    
    
    <div class="container">
        <a href="cadastro">
            <button class="btn btn-info">Cadastrar</button>
        </a> <br><br>

        <input type="text" name="busca" id="busca" placeholder="Nome" required>
        
        <button class="btn btn-primary" type="submit" id="enviar-busca"> Buscar</button>

        <br><br>
        <table id="tabela" class="table table-md">
            <thead class="thead-dark">
                <tr>
                    <th> ID</th>
                    <th> Nome </th>
                    <th> Email </th>
                    <th> Editar</th>
                </tr>
             </thead>
             <% for(i =0; i < usuarios.length; i++){ %>
                 <tr class="resultado-tabela">
                     <td><%= usuarios[i].id_usuario %></td>
                     <td><%= usuarios[i].nome %></td>
                     <td><%= usuarios[i].email %></td>
                     <td>
                         <a href="usuario/<%=usuarios[i].id_usuario %>">
                             <button class="btn btn-info">Editar</button>
                         </a>
                     </td>
                 </tr>
     
             <% } %>
            
        </table>
    </div>

    
</body>
<script>
    $(document).ready(function(){

        $('#enviar-busca').click(function (){
           const busca = $('#busca').val();

           $.ajax({
                url: '/busca',
                method: 'GET',
                data: {busca: busca},
                success: response =>{
                    const usuarios = response;
                             
                        $('tr').remove(".resultado-tabela");
                        const table = document.getElementById('tabela');
                        usuarios.forEach(element => {
                            let tr = document.createElement('tr');
                            tr.className = "resultado-tabela";
                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.id_usuario;
                            var td2 = document.createElement('td');
                            td2.innerHTML = element.nome;
                            var td3 = document.createElement('td');
                            td3.innerHTML = element.email;
                            var td4 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/usuario/' + element.id_usuario;
                            var button = document.createElement('button');
                            button.className = 'btn btn-info';
                            button.innerHTML = 'Editar';
                        

                            
                            a.appendChild(button);
                            td4.appendChild(a);
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            table.appendChild(tr);
                        });
                }
           });
        });
    });
</script>
</html>